<section class="form--steps" xmlns:th="http://www.thymeleaf.org">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3 th:text="#{form.important}">Ważne!</h3>
            <p data-step="1" class="active" th:text="#{form.step.one}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2" th:text="#{form.step.two}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3" th:text="#{form.step.three}">
                Wybierz jedną, do której trafi Twoja przesyłka.
            </p>
            <p data-step="4" th:text="#{form.step.four}">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">
            <span th:text="#{form.step}">Krok</span> <span>1</span>/4
        </div>
        <form th:action="@{/form}" th:method="post" th:object="${donation}">
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3 th:text="#{form.what.you.give}">Zaznacz co chcesz oddać:</h3>

                <div class="form-group form-group--checkbox" th:each="category : ${categoriesList}">
                    <label>
                        <input type="checkbox" th:field="*{categories}" th:value="${category.id}"/>
                        <span class="checkbox"></span>
                        <span class="description" th:text="${category.name}"></span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step"><span th:text="#{form.continue}">Dalej</span></button>
                </div>
            </div>

            <!-- STEP 2 -->
            <!--            <div data-step="2">-->
                <h3 th:text="#{form.how.many.bags}">Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

            <!--                <div class="form-group form-group&#45;&#45;inline">-->
            <label>
                <span th:text="#{form.count.bags}">Liczba 60l worków:</span>
                <input type="number" name="bags" step="1" min="1" th:field="*{quantity}"/>
            </label>
    </div>


    <div class="form-group form-group--buttons">
        <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
        <button type="button" class="btn next-step" th:text="#{form.continue}">Dalej</button>
    </div>
    </div>


    <!-- STEP 3 -->
    <div data-step="3">
        <h3 th:text="#{form.choose.org}">Wybierz organizacje, której chcesz pomóc:</h3>

        <div class="form-group form-group--checkbox" th:each="inst : ${institutions}">
            <label>
                <input type="radio" th:name="institution" th:value="${inst.id}"/>
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title" th:text="${inst.getName()}">Fundacja “Bez domu”</div>
                  <div class="subtitle" th:text="${inst.getDescription()}">
                    Cel i misja: Pomoc dla osób nie posiadających miejsca
                    zamieszkania
                  </div>
                </span>
            </label>
        </div>

        <div class="form-group form-group--buttons">
            <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
            <button type="button" class="btn next-step" th:text="#{form.continue}">Dalej</button>
        </div>
    </div>
    <!---->
    <!--            &lt;!&ndash; STEP 4 &ndash;&gt;-->
    <div data-step="4">
        <h3 th:text="#{form.pickup.date.address}">Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

        <div class="form-section form-section--columns">
            <div class="form-section--column">
                <h4 th:text="#{form.address.pickup}">>Adres odbioru</h4>
                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{form.street}">Ulica</span>
                        <input type="text" name="street"/>
                    </label>

                </div>
                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{form.city}">Miasto</span>
                        <input type="text" name="city" th:value="*{city}"/>
                    </label>
                </div>

                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{form.post.code}">Kod pocztowy</span>
                        <input type="text" name="zipCode" th:value="*{zipCode}"/>
                    </label>
                </div>

                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{form.mobile}">Numer telefonu</span>
                        <input type="phone" name="mobile" th:value="*{mobile}"/>
                    </label>
                </div>
            </div>

            <div class="form-section--column">
                <h4 th:text="#{form.pickup.date}">Termin odbioru</h4>
                <!--                        <div class="form-group form-group--inline">-->
                <label>
                    <span th:text="#{form.date}">Data</span> <input type="date" name="date"
                                                                    th:value="*{date}"/> </label>
            </div>
            <!---->
            <div class="form-group form-group--inline">
                <label>
                    <span th:text="#{form.hour}">Godzina</span> <input type="time" name="time"
                                                                       th:value="*{time}"/> </label>
            </div>
            <!---->
            <div class="form-group form-group--inline">
                <label>
                    <span th:text="#{form.for.courier}">Uwagi dla kuriera</span>
                    <textarea name="comment" rows="5" th:value="*{comment}"></textarea>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group form-group--buttons">
        <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
        <button type="button" class="btn next-step" th:text="#{form.continue}">Dalej</button>
    </div>
    </div>
    <!---->
    <!--        &lt;!&ndash; STEP 5 &ndash;&gt;-->
    <!--        <div data-step="5">-->
    <!--            <h3 th:text="#{form.summary}">Podsumowanie Twojej darowizny</h3>-->
    <!--            &lt;!&ndash;&ndash;&gt;-->
    <!--            <div class="summary">-->
    <!--                <div class="form-section">-->
    <!--                    <h4 th:text="#{form.you.give}">Oddajesz:</h4>-->
    <!--                    <ul>-->
    <!--                        <li>-->
    <!--                            <span class="icon icon-bag"></span>-->
    <!--                            <span class="summary&#45;&#45;text"-->
    <!--                            >4 worki ubrań w dobrym stanie dla dzieci</span-->
    <!--                            >-->
    <!--                        </li>-->
    <!--                        &lt;!&ndash;&ndash;&gt;-->
    <!--                        <li>-->
    <!--                            <span class="icon icon-hand"></span>-->
    <!--                            <span class="summary&#45;&#45;text"-->
    <!--                            >Dla fundacji "Mam marzenie" w Warszawie</span-->
    <!--                            >-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--                &lt;!&ndash;&ndash;&gt;-->
    <!--                <div class="form-section form-section&#45;&#45;columns">-->
    <!--                        <div class="form-section&#45;&#45;column">-->
    <!--                            <h4>Adres odbioru:</h4>-->
    <!--                            <ul>-->
    <!--                                <li>Prosta 51</li>-->
    <!--                                <li>Warszawa</li>-->
    <!--                                <li>99-098</li>-->
    <!--                                <li>123 456 789</li>-->
    <!--                            </ul>-->
    <!--                        </div>-->

    <!--                        <div class="form-section&#45;&#45;column">-->
    <!--                            <h4>Termin odbioru:</h4>-->
    <!--                            <ul>-->
    <!--                                <li>13/12/2018</li>-->
    <!--                                <li>15:40</li>-->
    <!--                                <li>Brak uwag</li>-->
    <!--                            </ul>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <div class="form-group form-group--buttons">
        <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
        <button type="submit" class="btn" th:text="#{form.confirm}">Potwierdzam</button>
    </div>
    </div>
    </form>
    </div>
</section>