<div class="slogan container container--90">
    <div class="slogan--item">
        <h1 th:text="#{form.slogan.give.things}">
            Oddaj rzeczy, których już nie chcesz<br/>
            <span class="uppercase" th:text="#{form.slogan.who.needs}">potrzebującym</span>
        </h1>

        <div class="slogan--steps">
            <div class="slogan--steps-title" th:text="#{form.slogan.four.steps}">Wystarczą 4 proste kroki:</div>
            <ul class="slogan--steps-boxes">
                <li>
                    <div><em>1</em><span th:text="#{form.slogan.choose.things}">Wybierz rzeczy</span></div>
                </li>
                <li>
                    <div><em>2</em><span th:text="#{form.slogan.pack}">Spakuj je w worki</span></div>
                </li>
                <li>
                    <div><em>3</em><span th:text="#{form.slogan.choose.foundation}">Wybierz fundację</span></div>
                </li>
                <li>
                    <div><em>4</em><span th:text="#{form.slogan.order.pickup}">Zamów kuriera</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>