<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="admin/elements/template/template"
      lang="pl">
<body>
<div layout:fragment="top-bar">
    <div class="btn border-dark"><span th:text="#{admin.nav.categories}"></span>
        <a th:href="@{/admin/categories/add}">
            <input type="submit" th:value="#{page.btn.add}"
                   class="btn btn-outline-dark"/></a>
    </div>
</div>

<div layout:fragment="fragmentOne">
    <h1 class="h3 mb-4 text-gray-800" th:text="#{admin.nav.categories.list.title}">Blank Page</h1>
    <div class="card bg-white border-dark shadow mb-3 ml-3 mr-3">
        <div class="card-body text-center">
            <div class="card-body col-md-auto">

                <div th:if="${param.deletesuccess}">
                    <h4 class="alert alert-success text-center" th:text="#{page.category.delete.success}"></h4>
                </div>
                <div th:if="${param.edited}">
                    <h4 class="alert alert-success text-center" th:text="#{page.category.edit.success}"></h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-fixed table-bordered" id="dataTable" width="100%"
                           cellspacing="0">
                        <thead>

                        <tr class="alert-outline-dark">
                            <th th:text="#{page.list.id}">#ID#</th>
                            <th th:text="#{page.list.name}">Name</th>
                            <th th:text="#{page.list.action}">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}">
                            <td th:text="${category.id}"></td>
                            <td id="category" th:text="${category.name}"></td>
                            <td>
                                <a th:href="@{/admin/categories/edit(id=${category.id})}">
                                    <input type="hidden" name="id" th:value="${category.id}">
                                    <input type="submit" th:value="#{page.btn.edit}"
                                           class="btn btn-outline-info"/></a>

                                <a th:href="@{/admin/categories/delete(id=${category.id})}"
                                   th:action="@{/admin/categories/delete(id=${category.id})}" method="post">
                                    <input type="submit" th:value="#{page.btn.delete}"
                                           class="btn btn-outline-danger"
                                           onclick="return confirm('Czy na pewno chcesz usunąć tą kategorię?')"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>