<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="admin/elements/template/template"
      lang="pl">
<body>
<div layout:fragment="top-bar">
    <div class="btn border-dark"><span th:text="#{page.user.add.title}"></span>
        <a th:href="@{/admin/users/add}">
            <input type="submit" th:value="#{page.btn.add}"
                   class="btn btn-outline-dark"/></a>
    </div>
    <div class="btn border-dark"><span th:text="#{page.administrator.shortcut}"></span>
        <a th:href="@{/admin/administrators/}">
            <input type="submit" th:value="#{page.administrator.link.admins}"
                   class="btn btn-outline-dark"/></a>
    </div>
</div>

<div layout:fragment="fragmentOne">
    <h1 class="h3 mb-4 text-gray-800" th:text="#{page.user.list}">Blank Page</h1>
    <div class="card bg-white border-dark shadow mb-3 ml-3 mr-3">
        <div th:if="${param.addSuccess}">
            <div class="text-center alert alert-success mt-4 ml-3 mr-3">
                <h3 class="text-success" th:text="#{page.user.add.success}"></h3>
            </div>
        </div>
        <div th:if="${param.addFailed}">
            <div class="text-center alert alert-danger mt-4 ml-3 mr-3">
                <h3 class="text-danger" th:text="#{page.user.add.failed}"></h3>
            </div>
        </div>
        <div th:if="${param.success}">
            <h4 class="alert alert-success text-center" th:text="#{page.user.delete.success}"></h4>
        </div>
        <div th:if="${param.failed}">
            <h4 class="alert alert-danger text-center" th:text="#{page.user.delete.failed}"></h4>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" th:text="#{admin.nav.users.list}"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%"
                           cellspacing="0">
                        <thead>

                        <tr>
                            <th class="th-sm" th:text="#{page.list.id}">#ID#</th>
                            <th class="th-sm" th:text="#{placeholder.firstname}">Firstname</th>
                            <th class="th-sm" th:text="#{placeholder.lastname}">Lastname</th>
                            <th class="th-sm" th:text="#{placeholder.email}">Email</th>
                            <th class="th-sm" th:text="#{placeholder.enable}">Active</th>
                            <th class="th-sm" th:text="#{placeholder.roles}">Roles</th>
                            <th class="th-sm" th:text="#{page.list.action}">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${userList}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.enabled}"></td>
                            <td th:text="${user.roles}"></td>
                            <td>
                                <a th:href="@{/admin/users/edit(id=${user.id})}">
                                    <input type="hidden" name="id" th:value="${user.id}">
                                    <input type="submit" th:value="#{page.btn.edit}"
                                           class="btn btn-outline-info"/></a>

                                <a th:href="@{/admin/users/delete(id=${user.id})}"
                                   th:action="@{/admin/users/delete(id=${user.id})}" method="post">
                                    <input type="submit" th:value="#{page.btn.delete}"
                                           class="btn btn-outline-danger"
                                           onclick="return confirm('Czy na pewno chcesz usunąć Administratora?')"/>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>