<section class="form--steps" xmlns:th="http://www.thymeleaf.org">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3 th:text="#{form.important}">Ważne!</h3>
            <p data-step="1" class="active" th:text="#{form.step.one}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2" th:text="#{form.step.two}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3" th:text="#{form.step.three}">
                Wybierz jedną, do której trafi Twoja przesyłka.
            </p>
            <p data-step="4" th:text="#{form.step.four}">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div id="formSteps" class="form--steps-container">
        <div class="form--steps-counter">
            Krok <span>1</span>/4
        </div>

        <form th:action="@{/form}" th:method="post" th:object="${donation}">
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3 th:text="#{form.what.you.give}">Zaznacz co chcesz oddać:</h3>

                <div class="form-group form-group--checkbox" th:each="category : ${categoriesList}">
                    <label>
                        <input id="checked"
                               name="categories"
                               th:value="${category.id}"
                               type="checkbox"/>
                        <span class="checkbox"></span>
                        <span class="description" th:text="${category.name}"></span>
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}" class="error"></p>
                <div class="form-group form-group--buttons">
                    <button id="checkboxButton" type="button" class="btn next-step"><span th:text="#{form.continue}">Dalej</span>
                    </button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3 th:text="#{form.how.many.bags}">Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{form.count.bags}">Liczba 60l worków:</span>
                        <input id="quantity" type="number" name="bags" step="1" min="1" th:field="*{quantity}"/>
                        <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></p>
                    </label>
                </div>


                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
                    <button type="button" class="btn next-step" th:text="#{form.continue}">Dalej</button>
                </div>
            </div>


            <!-- STEP 3 -->
            <div data-step="3">
                <h3 th:text="#{form.choose.org}">Wybierz organizacje, której chcesz pomóc:</h3>

                <div class="form-group form-group--checkbox" th:each="institution : ${institutions}">
                    <label>
                        <input id="institutionCheck" type="radio" name="institution" th:value="${institution.id}"/>
                        <span class="checkbox radio"></span>
                        <span class="description">
                            <div class="title">
                                <span id="institution-name"
                                      th:text="${institution.getName()}">Fundacja “Bez domu”</span>
                            </div>
                  <div class="subtitle" th:text="${institution.getDescription()}">
                    Cel i misja: Pomoc dla osób nie posiadających miejsca
                    zamieszkania
                  </div>
                </span>
                    </label>
                </div>

                <p th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}" class="error"></p>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
                    <button type="button" class="btn next-step" th:text="#{form.continue}">Dalej</button>
                </div>
            </div>

            <!--            &lt;!&ndash; STEP 4 &ndash;&gt;-->
            <div data-step="4">
                <h3 th:text="#{form.pickup.date.address}">Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4 th:text="#{form.address.pickup}">>Adres odbioru</h4>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.street}">Ulica</span>
                                <input id="street" type="text" name="street" th:field="*{street}" value=""
                                       placeholder="Ulica" minlength="3" required/>
                                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="error"></p>
                            </label>

                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.city}">Miasto</span>
                                <input id="city" type="text" name="city" th:value="*{city}"
                                       placeholder="Miasto" minlength="2" required/>
                                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error"></p>
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.post.code}">Kod pocztowy</span>
                                <input id="zipCode" type="text" name="zipCode" th:value="*{zipCode}"
                                       placeholder="__-___" minlength="6" maxlength="6" required/>
                                <p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="error"></p>
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.mobile}">Numer telefonu</span>
                                <input id="mobile" type="phone" name="mobile" th:field="*{mobile}"
                                       placeholder="123456789" minlength="9" maxlength="9"/>
                                <p th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="error"></p>
                            </label>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4 th:text="#{form.pickup.date}">Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.date}">Data</span>
                                <input id="date" type="date" name="date" th:value="*{date}"/> </label>
                            <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error"></p>
                        </div>
                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.hour}">Godzina</span>
                                <input id="time" type="time" name="time" th:value="*{time}"/> </label>
                        </div>
                        <!---->
                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{form.for.courier}">Uwagi dla kuriera</span>
                                <textarea id="comment" name="comment" rows="5" th:value="*{comment}"
                                          th:placeholder="#{page.list.message}"></textarea>
                                <p th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="error"></p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{form.back}">Wstecz</button>
                    <button id="getSummary" type="button" class="btn next-step" th:text="#{form.continue}">Dalej
                    </button>
                </div>
            </div>
            <!-- STEP 5 -->
            <div data-step="5">
                <h3 th:text="#{form.summary}">Podsumowanie Twojej darowizny</h3>
                <div class="summary">
                    <div class="form-section">
                        <h4>Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag"></span>
                                <span th:text="#{form.you.give}"></span>&nbsp;
                                <span class="summary--text" id="quantityProceed"></span>
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span th:text="#{form.give.for}"></span>&nbsp;
                                <span class="summary--text" id="institutionProceed"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru:</h4>
                            <ul>
                                <li id="streetProceed">Prosta 51</li>
                                <li id="cityProceed">Warszawa</li>
                                <li id="zipCodeProceed">99-098</li>
                                <li id="mobileProceed">123 456 789</li>
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru:</h4>
                            <ul>
                                <li id="dateProceed">13/12/2018</li>
                                <li id="timeProceed">15:40</li>
                                <li id="commentProceed">Brak uwag</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <input type="hidden" name="id" th:field="*{user}" th:value="${currentUser.id}">
                    <button th:if="${#checkbox == checked}" type="submit" class="btn">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>