<nav class="container container--70"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
     xmlns:th="http://www.thymeleaf.org">
    <ul class="nav--actions">
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <div><span th:text="#{log.hello}"></span> <span th:text="${currentUser.getFirstName()}">Welcome, Guest</div>
        </div>
        <li sec:authorize="isAuthenticated()" class="logged-user">
            <span th:text="#{logged.welcome}">Witaj</span> <span
                th:text="${currentUser.getFirstName()} + ' ' + ${currentUser.getLastName()}"></span>
            <ul class="dropdown">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}" th:text="#{nav.admin}">Panel
                    Administratora</a></li>
                <li><a th:href="@{/user/profile}" th:text="#{nav.profile}">Profil</a></li>
                <li><a th:href="@{/user/settings}" th:text="#{nav.settings}">Ustawienia</a></li>
                <li><a th:href="@{/user/myDonation}" th:text="#{nav.myGatherings}">Moje zbiórki</a></li>
                <li><a th:href="@{/logout}" th:text="#{nav.logout}"
                       onclick="return confirm('Czy na pewno chcesz się wylogować')">Wyloguj</a></li>
            </ul>
        </li>
    </ul>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <ul>
            <li><a th:href="@{/login}" class="btn btn--small btn--without-border" th:text="#{nav.login}">Zaloguj</a>
            </li>
            <li><a th:href="@{/registration}" class="btn btn--small btn--highlighted" th:text="#{nav.register}">Załóż
                konto</a></li>
        </ul>
    </div>
    <ul>
        <li><a th:href="@{/}" class="btn btn--without-border active" th:text="#{nav.start}">Start</a></li>
        <li><a th:href="@{#steps}" class="btn btn--without-border" th:text="#{nav.about.case}">O co chodzi?</a></li>
        <li><a th:href="@{#about-us}" class="btn btn--without-border" th:text="#{nav.about.us}">O nas</a></li>
        <li><a th:href="@{#help}" class="btn btn--without-border" th:text="#{nav.fund.org}">Fundacje i organizacje</a>
        </li>
        <li><a th:href="@{/form}" class="btn btn--without-border" th:text="#{nav.give}">Przekaż dary</a></li>
        <li><a th:href="@{#contact}" class="btn btn--without-border" th:text="#{nav.contact}">Kontakt</a></li>
    </ul>
</nav>
