<section class="login-page" xmlns:th="http://www.thymeleaf.org">
    <h2 th:text="#{reg.reset.password}">Reset hasła</h2>
    <h3 th:text="#{reg.reset.password.prompt}"></h3>
    <div style="border-bottom: 1px dashed black; border-top: 1px dashed black">
        <div th:if="${param.error}">
            <h3 th:text="#{error.occured}"></h3>
        </div>
        <div th:if="${param.notExist}">
            <h3 th:text="#{reg.notexist}"></h3>
        </div>
        <div th:if="${param.disabled}">
            <h3 th:text="#{reg.disabled}"></h3>
        </div>
        <div th:if="${param.sent}">
            <h3 th:text="#{reg.email.sent}"></h3>
        </div>
        <div th:if="${param.notoken}">
            <h3 th:text="#{pass.change.notoken}"></h3>
        </div>
        <div th:if="${param.usedtoken}">
            <h3 th:text="#{pass.change.usedtoken}"></h3>
        </div>
    </div>
    <form id="form" th:action="@{/lostPassword}" th:object="${user}" method="post">
        <h6 class="alert-info"
            th:if="${#fields.hasGlobalErrors()}"
            th:each="error : ${#fields.errors('global')}"></h6>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
            <input type="email" name="email" th:placeholder="#{placeholder.email}" required/>
        </div>
        <div class="form-group form-group--buttons">
            <button class="btn" type="submit" th:text="#{page.email.send}">Wyślij</button>
        </div>
    </form>

</section>