<section class="login-page" xmlns:th="http://www.thymeleaf.org">
    <h2 th:text="#{reg.create.acc}">Załóż konto</h2>
    <div style="border-bottom: 1px dashed black; border-top: 1px dashed black">
        <div th:if="${param.success}">
            <div class="alert"><h3 class="text-success" th:text="#{reg.success}"> Rejestracja zakończona pwodzeniem</h3>
            </div>
        </div>
        <div th:if="${param.failed}">
            <div class="alert"><h3 class="text-success" th:text="#{reg.failed}"> Rejestracja zakończona
                niepowodzeniem</h3>
            </div>
        </div>
        <div th:if="${param.passFailed}">
            <div class="alert"><h3 class="text-success">Hasło musi zawierać jedną dużą literę, jedną małą literę, jedną
                cyfrę oraz znak specjalny.</h3>
            </div>
        </div>
        <div th:if="${param.notMatch}">
            <div class="alert"><h3 class="text-success">Hasła muszą być zgodne.</h3>
            </div>
        </div>
        <div th:if="${param.exist}">
            <div class="alert"><h3 th:text="#{reg.exist}"> Użytkownik o podanym adresie e-mail istnieje! Spróbój
                ponownie!</h3>
            </div>
        </div>
    </div>

    <form id="registrationForm" th:action="@{/registration}" th:object="${user}" th:method="post">
        <h6 class="alert-info"
            th:if="${#fields.hasGlobalErrors()}"
            th:each="error : ${#fields.errors('global')}"></h6>
        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
            <input type="text" name="firstName" th:min="2" th:required="true"
                   th:placeholder="#{placeholder.firstname}"/>
            <span th:text="${error}">Validation error</span></h6>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
            <input type="text" name="lastName" th:min="2" th:required="true" th:placeholder="#{placeholder.lastname}"/>
            <span th:text="${error}">Validation error</span></h6>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
            <input id="email" type="email" name="email" th:min="4" th:required="true"
                   th:placeholder="#{placeholder.email}"/>
            <span th:text="${error}">Validation error</span></h6>

        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
            <h4><input id="password" type="password" name="password" minlength="8" th:required="true"
                       th:placeholder="#{placeholder.password}"/>
                <span th:text="${error}">Validation error</span></h4>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error':''">
            <input id="passwordConfirm" type="password" name="passwordConfirm" minlength="8"
                   th:placeholder="#{placeholder.password.conf}" th:required="true"/>
            <h3><span id="passwordError" th:text="${error}">Validation error</span></h3>
        </div>

        <div class="form-group form-group--buttons">
            <a th:href="@{/login}" class="btn btn--without-border" th:text="#{reg.login}">Zaloguj się</a>
            <button class="btn" type="submit" th:text="#{reg.create.acc}">Załóż konto</button>
            <span th:text="${error}">Validation error</span></h6>
        </div>
        <div id="globalError"></div>
    </form>
</section>
