<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<div th:replace="~{user/elements/fragments/head}"></div>
<body>
<header class="header--form-page">
    <div th:replace="~{user/elements/fragments/navMenu}"></div>
    <div th:replace="~{user/elements/form/formSlogan}"></div>
</header>
<div th:replace="~{user/elements/form/form}"></div>
<div th:replace="~{user/elements/fragments/footer}"></div>
<script
        th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
</body>
</html>