<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<div th:replace="~{/user/elements/fragments/head}"></div>
<body>
<header class="header--main-page">
    <div th:replace="~{/user/elements/fragments/navMenu}"></div>
    <div th:replace="~{/user/elements/index/slogan}"></div>
</header>
<div th:replace="~{/user/elements/index/steps}"></div>
<div th:replace="~{/user/elements/index/stats}"></div>
<div th:replace="~{/user/elements/index/aboutUs}"></div>
<div th:replace="~{/user/elements/index/help}"></div>
<div th:replace="~{/user/elements/fragments/footer}"></div>
</body>
</html>