<section class="login-page" xmlns:th="http://www.thymeleaf.org">
    <h2 th:text="#{reg.login}">Zaloguj się</h2>
    <div th:if="${param.success}">
        <div class="alert"><span class="text-success" th:text="#{log.success}">Logowanie zakończone powodzeniem</span>
        </div>
    </div>
    <div th:if="${param.error}">
        <h3 th:text="#{log.error}"></h3>
    </div>
    <div th:if="${param.logout}">
        <h3 th:text="#{log.out.success}"></h3>
    </div>
    <div th:if="${param.active}">
        <h3 th:text="#{reg.activation}"></h3>
    </div>
    <div th:if="${param.failed}">
        <h3 th:text="#{reg.activation}"></h3>
    </div>
    <form th:action="@{/login}" method="post">

        <div class="form-group">
            <input type="email" name="username" th:placeholder="#{placeholder.email}"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" th:placeholder="#{placeholder.password}"/>

            <a th:href="@{/lostPassword}" class="btn btn--small btn--without-border reset-password"
               th:text="#{reg.lost.password}">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
            <a th:href="@{/registration}" class="btn btn--without-border" th:text="#{reg.create.acc}">Załóż konto</a>
            <button class="btn" type="submit" th:text="#{reg.login}">Zaloguj się</button>
        </div>
    </form>
</section>