<section id="steps" class="steps" xmlns:th="http://www.thymeleaf.org">
    <h2 th:text="#{form.slogan.four.steps}">Wystarczą 4 proste kroki</h2>

    <div class="steps--container">
        <div class="steps--item">
            <span class="icon icon--hands"></span>
            <h3 th:text="#{step.choose.things}">Wybierz rzeczy</h3>
            <p th.text="#{step.all.ones}">ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--arrow"></span>
            <h3 th:text="#{step.pack.em}">Spakuj je</h3>
            <p th:text="#{step.use.bags}">skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--glasses"></span>
            <h3 th:text="#{step.choose.who.you.help}">Zdecyduj komu chcesz pomóc</h3>
            <p th:text="#{step.choose.trusted.place}">wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--courier"></span>
            <h3 th:text="#{step.order.courier}">Zamów kuriera</h3>
            <p th:text="#{step.courier.by.date}">kurier przyjedzie w dogodnym terminie</p>
        </div>
    </div>

    <a th:href="@{/login}" class="btn btn--large" th:text="#{reg.create.acc}">Załóż konto</a>
</section>
