<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<th:block th:replace="~{elements/head}"></th:block>
<body>
<header class="header--form-page">
    <th:block th:include="~{elements/navMenu}"></th:block>
    <th:block th:include="~{elements/form/formSlogan}"></th:block>
</header>
<th:block th:include="~{elements/form/form}"></th:block>
<th:block th:include="~{elements/footer}"></th:block>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
</body>
</html>