<section id="help" class="help" xmlns:th="http://www.thymeleaf.org">
    <h2 th:text="#{text.who.we.help}">Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p th:text="#{text.verified.org.found}">W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi
            współpracujemy.
            Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items">
            <li th:each="i : ${#numbers.sequence(0, trustedInstitutions.size(), 2)}">
                <div class="col" th:if="${i <= (trustedInstitutions.size()-1)}">
                    <div class="title" th:text="${trustedInstitutions.get(i).getName()}"></div>
                    <div class="subtitle" th:text="${trustedInstitutions.get(i).getDescription()}"></div>
                </div>
                <div class="col" th:if="${(i+1) <= trustedInstitutions.size() - 1}">
                    <div class="title" th:text="${trustedInstitutions.get(i + 1).getName()}"></div>
                    <div class="subtitle" th:text="${trustedInstitutions.get(i + 1).getDescription()}"></div>
                </div>
            </li>
        </ul>
</section>
