<div xmlns:th="http://www.thymeleaf.org">
    <div style="display: flow-root; margin-top: 5rem; margin-right: 10rem">
        <div style="display: block;margin-left: 50rem"
             class="slogan--steps-title btn">
            <div th:if="${param.success}">
                <h3 class="" th:text="#{page.user.edit.success}"></h3>
            </div>
            <div th:if="${param.failed}">
                <h3 class="text-success" th:text="#{page.user.edit.failed}"></h3>
            </div>
            <form th:action="@{/user/edit(id=${currentUser.id})}" th:object="${currentUser}"
                  th:method="post">
                <div style="display: flex;">

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                        <label for="firstName" class="control-label"
                               th:text="#{page.list.firstname}">First Name</label>
                        <input id="firstName"
                               class="form-control"
                               th:field="*{firstName}"
                               th:required="true"/>
                        <h6 th:each="error : ${#fields.errors('firstName')}">
                            <span class="btn-danger" th:text="${error}">Validation error</span></h6>
                    </div>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                        <label for="lastName" class="control-label"
                               th:text="#{page.list.lastname}">Last Name</label>
                        <input id="lastName"
                               class="form-control"
                               th:field="*{lastName}"
                               th:required="true"/>
                        <h6 th:each="error : ${#fields.errors('lastName')}">
                            <span class="btn-danger" th:text="${error}">Validation error</span></h6>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <label for="email" class="control-label"
                               th:text="#{page.list.email}">E-mail</label>
                        <input id="email"
                               class="form-control"
                               th:field="*{email}"
                               th:required="true"/>
                        <h6 th:each="error : ${#fields.errors('email')}">
                            <span class="btn-danger" th:text="${error}">Validation error</span></h6>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label for="password"
                               th:text="#{page.list.password}">Password</label>
                        <input id="password"
                               type="password"
                               class="form-control"
                               th:field="*{password}"
                               th:required="true"/>
                        <h6 th:each="error : ${#fields.errors('password')}">
                            <span class="btn-danger" th:text="${error}">Validation error</span></h6>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark" th:text="#{page.btn.edit}"
                                onclick="return confirm('Czy na pewno chcesz edytować Użytkownika: ' + document.getElementById('email').value + '?')">
                        </button>
                        <a th:href="@{/user/profile}">
                            <button type="button" class="btn btn-outline-dark" th:text="#{page.btn.back}"/>
                            </button></a>

                    </div>
                </div>
                <div style="padding-right: 34.5rem" class="container--90 container slogan">
                </div>
        </div>