<div xmlns:th="http://www.thymeleaf.org">
    <form id="form" th:action="@{/user/changePassword(id=${password.id})}"
          th:model="${password}"
          th:method="post">
        <div class="form-group" style="font-size: 2rem">
            <table style="background-color: rgba(255, 255, 255, 0.7); font-size: 2rem; border: 1px dashed black; padding: 20px; margin-top: 5rem"
                   width="45%"
                   align="center">
                <thead>
                <!--              PARAM MESSAGES                 -->
                <th colspan="2" style="padding-bottom: 15px">
                    <span th:text="#{pass.change}"></span>
                    <div th:if="${param.success}">
                        <h3 class="text-success" th:text="#{page.user.edit.success}"></h3>
                    </div>
                    <div th:if="${param.failed}">
                        <h3 class="text-danger" th:text="#{page.user.edit.failed}"></h3>
                    </div>
                    <div th:if="${param.invalid}">
                        <h3 class="text-danger" th:text="#{pass.invalid}"></h3>
                    </div>
                </th>
                </thead>
                <!--                  PARAM MESSAGES                 -->
                <tbody>
                <tr>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password.password')}? 'has-error':''">
                        <td>
                            <label for="password" class="control-label"
                                   th:text="#{page.list.password}">Password</label>
                        </td>
                        <td style="font-size: 12px; padding-bottom: 15px">

                            <input id="password"
                                   type="password"
                                   class="form-control"
                                   th:field="${password.password}"
                                   th:required="true"/>
                        </td>
                        <h6 th:each="error : ${#fields.errors('password.password')}">
                            <span class="btn--small" th:text="${error}">Validation error</span></h6>
                    </div>
                </tr>
                <tr>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password.password')}? 'has-error':''">
                        <td>
                            <label for="password" class="control-label"
                                   th:text="#{page.list.password.conf}">Password</label>
                        </td>
                        <td style="font-size: 12px; padding-bottom: 15px">
                            <input id="passwordConfirm"
                                   type="password"
                                   class="form-control"
                                   th:field="${password.passwordConfirm}"
                                   th:required="true"/><br>
                            <span style="font-size: 12px" id="passwordError"></span>
                        </td>
                        <h6 th:each="error : ${#fields.errors('password.passwordConfirm')}">
                            <span class="btn--small" th:text="${error}">Validation error</span></h6>
                    </div>
                </tr>
                <th>
                    <div class="form-group">
                <td>
                </td>
                <td align="right" style="padding-top: 10px">

                    <button type="submit" class="btn btn-outline-dark" th:text="#{page.btn.edit}"
                            onclick="return confirm('Czy na pewno chcesz zmienić hasło?">
                    </button>
                    <a th:href="@{/user/profile}">
                        <button type="button" class="btn large" th:text="#{page.btn.back}"/>
                    </a>
                </td>
                </tbody>
            </table>
        </div>
    </form>
</div>