<div xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/user/donations/details(id=${donation.id})}" th:object="${donation}"
          th:method="post">
        <table style="background-color: rgba(255, 255, 255, 0.7); font-size: 2rem; border: 1px dashed black; padding: 20px; margin-top: 5rem"
               width="65%"
               align="center">
            <thead>
            <th colspan="2" style="border-bottom: 1px dashed; padding-bottom: 20px">
                <span th:text="#{page.list.donation.details}"></span>

                <div th:if="${param.success}">
                    <div class="text-center alert alert-success mt-4 ml-3 mr-3">
                        <h3 class="text-success" th:text="#{page.list.status.positive}"></h3>
                    </div>
                </div>
                <div th:if="${param.failed}">
                    <div class="text-center alert alert-danger mt-4 ml-3 mr-3">
                        <h3 class="text-success" th:text="#{page.list.status.negative}"></h3>
                    </div>
                </div>
            </th>
            </thead>
            <tr>
                <td style="padding-top: 20px; width: 33%">
                    <span th:text="#{page.list.institution}">First Name</span>
                </td>
                <td style="padding-top: 20px; border-bottom: 1px dashed;">
                    <span th:text="${donation.getInstitution()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span th:text="#{page.list.date.created.donation}"></span>
                </td>
                <td style="padding-top: 20px; border-bottom: 1px dashed;">
                    <span th:text="${donation.getDonationCreated()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span th:text="#{page.list.date.pick.date.donation}"></span>
                </td>
                <td style="padding-top: 20px; border-bottom: 1px dashed;">
                    <span th:text="${donation.getDate()}"></span>
                </td>
            </tr>
            <tr th:unless="${donation.getDonationPicked() == null}">
                <td>
                    <span th:text="#{page.list.date.picked.donation}"></span>
                </td>
                <td style="padding-top: 20px; border-bottom: 1px dashed;">
                    <span th:text="${donation.getDonationPicked()}"></span>
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px dashed black">
                    <span th:text="#{page.list.donation.categories.type}"</span>
                </td>
                <td style="border-bottom: 1px dashed black">

                    <span style="margin-right: 3px" class="btn btn--small"
                          th:each="category : ${donation.categories}"
                          th:text="${category}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span th:text="#{page.list.status}"></span>
                </td>
                <td style="padding-top: 20px;">
                    <select class="btn btn--small" th:field="${donation.status}">
                        <option th:each="status : ${donationStatusList}" th:value="${status.id}"
                                th:text="${status.name}"></option>
                    </select>
                </td>
            </tr>
            <td colspan="2" align="right" style="padding-top: 15px">
                <a th:href="@{/user/donations/details(id=${donation.id})}">
                    <input type="submit" th:value="#{page.btn.edit}"
                           class="btn btn-outline-info"/></a>
                </a>
                <a th:href="@{/user/donations}">
                    <button type="button" class="btn large" th:text="#{page.btn.back}"/>
                </a>
            </td>

        </table>
</div>